footer {
    background: #000000;
    .footer-container {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    
        a{
            color: white;
        }
    }

    .social-media-footer {
        display: flex;
        justify-self: center;
        align-items: center;
    }

    .center-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-logo {
        width: 25%; 
        height: auto;
    }

    .right-footer {
        text-align: right;
        ul {
            list-style-type: none;
            margin:0;
            padding: 0;
            li {
                a { 
                    text-align: right;
                    font-size: 20px;
                    font-family: 'Segoe UI';  
                }
            }
        }
    }
}