.title-head {
    padding-top: 36px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.support-paragraph {
    padding-top: 10px;
    margin-left: 256px;
    margin-right: 256px;
    font-family: 'Segoe UI'; 
    text-align: justify;
    font-size: 18px;
}

.contact-information { 
    text-align: center;
}