<div class="title-head">Every Kind of Donation is Helpful and Appreciated!</div>
<div class="support-paragraph">
    Our club is primarily self-funded through our players and donations. Everything that comprises our club, from 
    tournaments to community service, is due to our player, alumni, and other associates' efforts. As a result, we
    appreciate any sort of donation, whether it be monetary, equipment, or just a helping hand with scrimmages and 
    guidance. If you'd like to help our organization, you can get in contact with us directly through email or phone, 
    which will both be listed below. Thank you so much for your time!
</div>
<div class="contact-information">
    <h3>Contact Info</h3>
    <a href="mailto:lsutennisclub@gmail.com">Email: lsuclubtennis@gmail.com</a><br>
    <p>President's Phone Number: (225)921-7936</p>
</div>