<div class="title-head">LSU Club Tennis - About Us</div>
<div class="about-paragraph">
    We are a student organization at LSU that is comprised of many players that enjoy tennis recreationally
    and competitively and want to take that passion and pursue it through college. We practice and play 
    tennis regularly every week and even compete at regional and national level against other collegiate club
    teams around the United States. In addition, we also organize social events and community service to 
    help give back to the community and create our own community. Notably, we are a distinct, separate 
    organization from the LSU Varsity Men's and Women's Tennis teams.
</div>
<div class="title-head">Meet Our Players</div>
<div class="roster-grid">
  <div data-aos="fade-down">
    <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
    <div class="player-information">
      Name: Christopher Callan<br>
      Year: Senior
    </div>
  </div>
  <div data-aos="fade-down">
    <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
    <div class="player-information">
        Name: Austin Steepleton<br>
        Year: Senior
    </div>
  </div>
  <div data-aos="fade-down">
    <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
    <div class="player-information">
        Name: James Ensminger<br>
        Year: Junior
    </div>
  </div>
  <div data-aos="fade-down">
    <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
    <div class="player-information">
      Name: Christopher Callan<br>
      Year: Senior
    </div>
  </div>
  <div data-aos="fade-down">
    <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
    <div class="player-information">
        Name: Austin Steepleton<br>
        Year: Senior
    </div>
  </div>
  <div data-aos="fade-down">
    <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
    <div class="player-information">
        Name: James Ensminger<br>
        Year: Junior
    </div>
  </div>
  <div data-aos="fade-down">
    <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
    <div class="player-information">
      Name: Christopher Callan<br>
      Year: Senior
    </div>
  </div>
  <div data-aos="fade-down">
    <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
    <div class="player-information">
        Name: Austin Steepleton<br>
        Year: Senior
    </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: James Ensminger<br>
          Year: Junior
      </div>
  </div>
</div>