.title-head {
    padding-top: 36px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.about-paragraph {
    padding-top: 10px;
    margin-left: 256px;
    margin-right: 256px;
    font-family: 'Segoe UI'; 
    text-align: justify;
    font-size: 18px;
}

.roster-grid {
    display: grid;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}
.image-cropper {
    max-width: 175px;
    height: auto;
    border-radius: 50%;
}

.player-information {
    font-family: 'Segoe UI';
    font-size: 18px;
    padding-bottom: 25px;
}