<div class="title-head">LSU Club Tennis - About Us</div>
<div class="about-paragraph">
    We are a student organization at LSU that is comprised of many players that enjoy tennis recreationally
    and competitively and want to take that passion and pursue it through college. We practice and play 
    tennis regularly every week and even compete at regional and national level against other collegiate club
    teams around the United States. In addition, we also organize social events and community service to 
    help give back to the community and create our own community. Notably, we are a distinct, separate 
    organization from the LSU Varsity Men's and Women's Tennis teams.
</div>
<div class="title-head">Meet Our Players</div>
<div class="roster-grid">
  <div data-aos="fade-down">
    <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
    <div class="player-information">
      Name: Christopher Callan<br>
      Year: Senior<br>
      Position: President
    </div>
  </div>
  <div data-aos="fade-down">
    <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
    <div class="player-information">
        Name: Austin Steepleton<br>
        Year: Senior<br>
        Position: Vice President
    </div>
  </div>
  <div data-aos="fade-down">
    <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
    <div class="player-information">
        Name: Emma Chaney<br>
        Year: Junior<br>
        Position: Vice President
    </div>
  </div>
  <div data-aos="fade-down">
    <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
    <div class="player-information">
      Name: James Ensminger<br>
      Year: Senior<br>
      Position: Treasurer
    </div>
  </div>
  <div data-aos="fade-down">
    <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
    <div class="player-information">
        Name: Michael Spieldiener<br>
        Year: Senior
        Position: Secretary
    </div>
  </div>
  <div data-aos="fade-down">
    <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
    <div class="player-information">
        Name: Grace Snellgrove<br>
        Year: Freshman<br>
        Position: Communications
    </div>
  </div>
  <div data-aos="fade-down">
    <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
    <div class="player-information">
      Name: Mishary Shamoh<br>
      Year: Senior<br>
      Position: Historian
    </div>
  </div>
  <div data-aos="fade-down">
    <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
    <div class="player-information">
        Name: Hasan Al-Shaar<br>
        Year: Senior
    </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Mustafa Alam<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Lee Blosser<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Malini Bueche<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Logan Bueche<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Corey Canzoneri<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Remy Comeaux<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Kimberly Crenshaw<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Camille Daigle<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Waddih Fakhre<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Zachery Gordon<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Houman Kamran<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Maria Kratz<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Josiah Lim<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Nate Lim<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Drew Louviere<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Grace Lowry<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: James Ensminger<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: James Mills<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Lauren Mixon<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Peter Nguyen<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Will Pizzuto<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Rishi Raina<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Jesse Reeves<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Rafael Reyes<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Stephen Richards<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Christopher Russo<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Kashmir Saeed<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Pablo Sanchez<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Kirandeep Singh<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Gurmaan Singh<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Andrew Sosnytskyi<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Diana Suleimanova<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Peter Wan<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Sydney Wiegand<br>
          Year: Junior
      </div>
  </div>
  <div data-aos="fade-down">
      <img src="../assets/profile-picture-placeholder.jpg" class="image-cropper"/>
      <div class="player-information">
          Name: Hope Willis<br>
          Year: Junior
      </div>
  </div>
</div>