<div class="banner-container"> 
  <img src="../assets/lsu win.jpg" class="banner-image">
  <div class="banner-caption">
    <h1>Get in Touch with Us!</h1>
  </div>
</div>
<div class="contact-grid">
  <div class="tryout-grid-section">
    <h3>Tryout Signup</h3>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Mike Tiger" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="miketiger@lsu.edu" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control" id="phone" placeholder="225-867-5309" required>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  <div class="contact-info-grid-section">
    <div class="contact-information">
      <h3>Contact Info</h3>
      Email: lsuclubtennis@gmail.com<br>
      Facebook: facebook.com/lsuclubtennis<br>
      Instagram: instagram.com/lsuclubtennis<br>
      Twitter: twitter.com/lsuclubtennis
    </div>
  </div>
</div>