<ngb-carousel>
  <ng-template ngbSlide>
    <img src="../assets/LSU Memorial Tower.jpg" class="carousel-custom-container">
    <div class="carousel-caption">
      <h3>Join Our Team</h3>
      <p>We're a growing organization and are always looking for new and excited players!</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/lsu-wallpaper.jpg" class="carousel-custom-container">
    <div class="carousel-caption">
      <h3>What We Do</h3>
      <p>In addition to practicing and competiting, we also take part in building and helping our community!</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/lsu-wallpaper-8.jpg" class="carousel-custom-container" >
    <div class="carousel-caption">
      <h3>Support Our Organization</h3>
      <p>If you would like to help our organization, we appreciate any sort of donation or assistance!</p>
    </div>
  </ng-template>
</ngb-carousel>
<div class="call-to-action-grid">
  <div class="grid-content">
    <img src="../assets/LSU Club Tennis 1.jpg"/> 
    <div class="text-call-left">Who We Are</div>
    <button class="btn">Learn More</button>
  </div>
  <div class="grid-content">
   <img src="../assets/Geaux Big 2017.jpg"/>
   <div class="text-call-right">Join Our Team</div>
   <button class="btn">Learn More</button>
  </div>
  <div class="grid-content">
   <img src="../assets/awardPicture.jpg"/>
   <div class="text-call-left">What We Do</div>
   <button class="btn">Learn More</button>
  </div>
  <div class="grid-content">
    <img src="../assets/tennisOnCampus.jpg"/>
    <div class="text-call-right">Donate To Us</div>
    <button class="btn">Learn More</button>
  </div>
</div>