.call-to-action-grid {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  // grid-template-rows: repeat(2fr, 2fr);
}

.call-to-action-grid > .grid-content {
  position: relative;
  width: 100%;
  height: 500px;
}

.call-to-action-grid > .grid-content > img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.call-to-action-grid > .grid-content > a > .btn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border-style: solid;
  border-color: white;
  cursor: pointer;
  border-radius: 5px;
  top: 85%;
  right: 42%;
}

.call-to-action-grid > .grid-content > .text-call-left {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: white;
  top: 79%;
  right: 41%;
}

.call-to-action-grid > .grid-content > .text-call-right {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: white;
  top: 79%;
  right: 41%;
}

.carousel-custom-container {
  max-height: 600px; 
  min-width: 100%; 
  margin:0 auto;
}

.carousel-custom-caption {
  position: absolute;
  color: white;
  bottom: 20px;
}

.swiper-container {
  min-width: 100%;
  max-height: 600px;
  margin:0 auto;
}
.swiper-slide {
  max-height: 600px; 
  min-width: 100%; 
  margin:0 auto;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}